

  <h2>Edit Expense</h2>

  <%= form_for(:expenses, :url => {:action => 'update', :id => @expense.id}, html: {class: "form-horizontal"}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <%= submit_tag "update expenses", :class => "btn btn-default" %>

  <% end %>


